<app-header></app-header>
<app-detail></app-detail>
<app-footer></app-footer>

<section class="gridArea">
    <div class="leftside">
      <h1>Manually Retrieve External Data</h1>
      <app-sanpreet></app-sanpreet>
  
    </div>
    <div class="lService">
      <h1>Retrieving External Data Using a Service</h1>
      <app-list-service></app-list-service>
      
    </div>
  </section>

  <section class="gridArea">
    <div class="rightside">
      <h1>Manually Retrieve External Data</h1>
      <app-sanpreet></app-sanpreet>
  
    </div>
</section>